// TODO: Slightly stupid and dangerous, but works.
.button:not(.is-link) {
  background-color: #2e333d;
  border-color: #2e333d;
}

.button:not(.is-link):hover {
  background-color: #4666a7;
  border-color: #4666a7;
}
