$color-lighter-blue: #252b36;
$color-blue: #0f121d;
$color-darker-blue: #0c0e16;

$color-black: #0d122b;

$color-light: #ececec;
$color-smoke: #d2c7c7;
$color-gray: #6b7886;
$color-white: #f0f0f0;

$color-red: #a32121;

$color-green: #147a0b;