@font-face {
  font-family: 'DM-Serif';
  src: url('fonts/DM_Serif_Text/DMSerifText-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM-Serif';
  src: url('fonts/DM_Serif_Text/DMSerifText-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
