// Cairo
@font-face {
  font-family: 'Cairo';
  src: url('../fonts/Cairo/Cairo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Kanit
@font-face {
  font-family: 'Kanit';
  src: url('../fonts/Kanit/Kanit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kanit';
  src: url('../fonts/Kanit/Kanit-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

// JetBrains Mono
@font-face {
  font-family: 'JetBrains-Mono';
  src: url('../fonts/JetBrains-Mono/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains-Mono';
  src: url('../fonts/JetBrains-Mono/JetBrainsMono-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}