<header class="has-background-dark p-2 is-z-index-2 is-position-relative">
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="container">
            <!-- Navbar Brand -->
            <div class="navbar-brand is-flex is-align-items-center is-justify-content-space-between is-fullwidth">
                <div>
                    <h1 class="title has-text-white mb-1 header-font is-size-1">
                        {{ site.data.about.name }}
                    </h1>
                    <h2 class="subtitle has-text-white is-6 header-font">
                        {{ site.data.about.description }}
                    </h2>
                </div>

                <!-- Burger Menu (Mobile only) -->
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <!-- Navbar End -->
            <div id="navMenu" class="navbar-menu has-text-centered">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <a href="{{ '/#home' | relative_url }}" class="has-text-info" data-scroll-to="home">Home</a>
                    </div>
                    <div class="navbar-item larger-than-mobile">/</div>
                    <div class="navbar-item">
                        <a href="{{ '/#about-me' | relative_url }}" class="has-text-info"
                            data-scroll-to="about-me">About</a>
                    </div>
                     <div class="navbar-item larger-than-mobile">/</div>
                    <div class="navbar-item">
                        <a href="{{ '/#other-projects' | relative_url }}" class="has-text-info"
                            data-scroll-to="other-projects">Other Projects</a>
                    </div>
                     <div class="navbar-item larger-than-mobile">/</div>
                    <div class="navbar-item">
                        <a href="{{ '/#contact' | relative_url }}" class="has-text-info"
                            data-scroll-to="contact">Contact</a>
                    </div>
                     <div class="navbar-item larger-than-mobile">/</div>
                    <div class="navbar-item">
                        <a href="{{ '/assets/pdf/CurriculumVitae.pdf' | relative_url }}" class="has-text-info"
                            target="_blank">CV</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>