<header class="has-background-dark p-2 is-z-index-2 is-position-relative">
    <!-- NAVBAR -->
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="container is-flex is-justify-content-space-between is-align-items-center">

            <!-- LEFT -->
            <div class="navbar-brand is-flex is-flex-direction-column">
                <h1 class="title has-text-white mb-1 is-12 header-font is-size-1">{{ site.data.about.name }}</h1>
                <h2 class="subtitle has-text-white is-6 header-font">{{ site.data.about.description }}</h2>
            </div>

            <!-- RIGHT -->
            <div class="navbar-end">
                <div class="navbar-item">
                    <a href="{{ '/#home' | relative_url }}" class="has-text-info" data-scroll-to="home">Home</a>
                    /
                    <a href="{{ '/#about-me' | relative_url }}" class="has-text-info"
                        data-scroll-to="about-me">About</a>
                    /
                    <a href="{{ '/#other-projects' | relative_url }}" class="has-text-info"
                        data-scroll-to="other-projects">Other Projects</a>
                    /
                    <a href="{{ '/#contact' | relative_url }}" class="has-text-info"
                        data-scroll-to="contact">Contact</a>
                    /
                    <a href="{{ '/assets/pdf/CurriculumVitae.pdf' | relative_url }}" class="has-text-info" target="_blank">CV</a>
                </div>
            </div>
        </div>
    </nav>
</header>