.bg-primary{
    background-color: $color-white;
}

.bg-secondary{
    background-color: $color-blue;
}

.bg-success{
    background-color: $color-green;
}

.bg-error{
    background-color: $color-red;
}

