.larger-than-mobile {
    display: none !important;
}

@media screen and (min-width: 768px) {
    .larger-than-mobile {
        display: inherit !important;
    }
}

.larger-than-tablet {
    display: none !important;
}

@media screen and (min-width: 1024px) {
    .larger-than-tablet {
        display: inherit !important;
    }
}