.is-object-fit-fill{
    object-fit: fill !important;
}

.is-object-fit-cover{
    object-fit: cover !important;
}

.is-object-fit-contain{
    object-fit: contain !important;
}

.is-object-fit-none{
    object-fit: none !important;
}

.is-object-fit-scale-down{
    object-fit: scale-down !important;
}

