.has-radius-0{
    border-radius: 0;
}

.has-radius-1{
    border-radius: 1%;
}

.has-radius-2{
    border-radius: 2%;
}

.has-radius-3{
    border-radius: 3%;
}

.has-radius-4{
    border-radius: 4%;
}

.has-radius-5{
    border-radius: 5%;
}

.has-radius-6{
    border-radius: 6%;
}

.has-radius-7{
    border-radius: 7%;
}

.has-radius-8{
    border-radius: 8%;
}

.has-radius-9{
    border-radius: 9%;
}

.has-radius-10{
    border-radius: 10%;
}

.has-radius-15{
    border-radius: 15%;
}

.has-radius-20{
    border-radius: 20%;
}

.has-radius-25{
    border-radius: 25%;
}

.has-radius-30{
    border-radius: 30%;
}

.has-radius-35{
    border-radius: 35%;
}


.has-radius-40{
    border-radius: 40%;
}


.has-radius-45{
    border-radius: 45%;
}


.has-radius-50{
    border-radius: 50%;
}