.has-radius-0{
    border-radius: 0;
}

.has-radius-1{
    border-radius: 10px;
}

.has-radius-2{
    border-radius: 20px;
}

.has-radius-3{
    border-radius: 30px;
}

.has-radius-4{
    border-radius: 40px;
}

.has-radius-5{
    border-radius: 50px;
}

.has-radius-6{
    border-radius: 60px;
}
