.is-rotate-on-hover{
    transition: transform 0.2s cubic-bezier(0.25, 1, 0.5, 1);
}

.is-rotate-on-hover:hover.rotate-right{
    transform: rotate(-1.5deg);
}

.is-rotate-on-hover:hover.rotate-left{
    transform: rotate(1.5deg);
}