.secondary-post {
    position: relative;
    overflow: hidden;
}

.secondary-post .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
}

.secondary-post:hover .overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

// TODO: Get these to work with --bulma-title-color
.secondary-post .description {
    color: rgba(255, 255, 255, 0);
    transition: color 0.3s ease;
}

.secondary-post:hover .description {
    color: rgba(255, 255, 255, 1);
}