.is-z-index-0 {
    z-index: 0;
}

.is-z-index-1 {
    z-index: 1;
}

.is-z-index-2 {
    z-index: 2;
}

.is-z-index-3 {
    z-index: 3;
}

.is-z-index-4 {
    z-index: 4;
}

.is-z-index-5 {
    z-index: 5;
}

.is-z-index-6 {
    z-index: 6;
}

.is-z-index-7 {
    z-index: 7;
}

.is-z-index-8 {
    z-index: 8;
}

.is-z-index-9 {
    z-index: 10;
}