{% assign posts = site.data.other-projects %}

<div class="columns is-multiline" id="other-projects">
    {% for project in posts %}
        <div class="column is-one-third">
            <section class="hero secondary-post is-small-desktop is-medium-mobile my-3 has-background has-radius-3"
                style="background-image: url('{{ project.cover-image | relative_url }}');"> 
                <div class="overlay"></div>
                <div class="hero-body position-relative">
                    <div class="container title">{{ project.title }}</div>
                    <div class="container subtitle">{{ project.tag }}</div>
                    <div class="container description subtitle">{{ project.description }}</div>
                </div>
            </section>
        </div>
    {% endfor %}
</div>