{% assign featured_posts = site.posts | where_exp: "p", "p['featured-main']" %}
{% assign sorted_posts = featured_posts | sort: "featured-main" | reverse %}

{% for post in sorted_posts %}
    <!-- TODO: Post should probably be passed by value instead of passing its title -->
    {% assign post_name = post.title %}

    {% assign pos = forloop.index0 | modulo: 2 | plus: 0 %}

    {% if pos == 0 %}
        {% assign imgPos = "left" %}
    {% else %}
        {% assign imgPos = "right" %}
    {% endif %}

    {% include project_view.html postTitle = post_name imagePosition = imgPos %}
    <hr>
{% endfor %}