.text-decoration-dashed{
    text-decoration: dashed !important;
}

.text-decoration-dotted{
    text-decoration: dotted !important;
}

.text-decoration-double{
    text-decoration: double !important;
}

.text-decoration-line-through{
    text-decoration: line-through !important;
}

.text-decoration-none{
    text-decoration: none;
}

.text-decoration-overline{
    text-decoration: overline !important;
}

.text-decoration-solid{
    text-decoration: solid !important;
}

.text-decoration-underline{
    text-decoration: underline !important;
}

.text-decoration-wavy{
    text-decoration: wavy !important;
}