.glide {
    background-color: $color-darker-blue;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

.glide__slide {
    background-color: $color-lighter-blue;
    width: 30rem;
    height: 35rem;
}

.glide__slide img {
    width: 100%;
    height: 75%;
}

.glide__slide h3 {
    background-color: $color-black;
    width: 100%;
    height: 25%;
}

.glide__arrow--left{
    left: -5.5em;
}

.glide__arrow--right{
    right: -5.5em;
}

.glide__bullets {
    bottom: -1em;
}

.glide__bullet {
    width: 2rem;
    border-radius: 1rem;
}